{% extends 'common/base.html' %}

{% block content %}
<div class="content">
    <h3>{{ tag.name }}</h3>
    <h5>게시물 총 {{ posts_count }}개</h5>

    <ul class="post-list">
        {% for post in posts %}
        <li>
            <img src="{{ post.photo.url }}" alt="" width="33%">
        </li>
        {% endfor %}
    </ul>
</div>
    <div class="pagination">
    <span class="step-links">
        {% if posts_tag.has_previous %}
        <a href="?page={{ posts_tag.previous_page_number }}" class="btn btn-xs">previous</a>
        {% endif %}
    <span class="current">
        page {{ posts_tag.number }} of {{ posts_tag.paginator.num_pages }}.
    </span>
    {% if posts_tag.has_next %}
    <a href="?page={{ posts_tag.next_page_number }}" class="btn btn-xs">next</a>
    {% endif %}
    </span>
    </div>
    <br>
{% endblock %}