{% extends 'common/base.html' %}
{% load custom_tags %}

{% block content %}

    <div>
        <a href="{% url 'post:post_create' %}" class="btn">Create Post</a>
    </div>
    <div>
<div class="test">{{ request.GET|query_string }}</div>
        {% for post in posts %}
            {% include 'include/post.html' with type='list' %}

        {% endfor %}
    </div>

    <div class="test">{{ request.GET }}</div>

    {% if posts.has_previous %}
        <a href="{{ request.path }}?{{ request. }}page=1" class="btn">처음</a>
    <a href="{{ request.path }}?page={{ posts.previous_page_number }}" class="btn">이전 {{ posts.previous_page_number }}페이지</a>
    {% endif %}

    <a href="" class="btn">{{ posts.number }}페이지</a>

    {% if posts.has_next %}
        <a href="{{ request.path }}?page={{ posts.next_page_number }}" class="btn">다음 {{ posts.next_page_number }}페이지</a>
        <a href="{{ request.path }}?page={{ posts.paginator.num_pages }}" class="btn">끝</a>
    {% endif %}


    





    {#    <div class="pagination">#}
    {#    <span class="step-links">#}
    {#        {% if posts.has_previous %}#}
    {#        <a href="?page={{ posts.previous_page_number }}" class="btn btn-xs">previous</a>#}
    {#        {% endif %}#}
    {#    <span class="current">#}
    {#        page {{ posts.number }} of {{ posts.paginator.num_pages }}.#}
    {#    </span>#}
    {#    {% if posts.has_next %}#}
    {#    <a href="?page={{ posts.next_page_number }}" class="btn btn-xs">next</a>#}
    {#    {% endif %}#}
    {#    </span>#}
    {#    </div>#}
    {#    <br>#}
{% endblock %}
